/* src/components/Topbar.css */
.topbar {
    background-color: #333; /* Adjust the background color if needed */
    height: 50px; /* Decrease height */
  }
  
  .MuiToolbar-root {
    min-height: 50px; /* Match the height of the AppBar */
  }
  
  .logo {
    flex-grow: 1;
    color: white; /* Adjust text color */
    font-size: 1.2rem; /* Decrease font size */
  }
  
  .MuiIconButton-root {
    color: white; /* Adjust icon color */
    font-size: 1.5rem; /* Decrease icon size */
  }
  